<div class="container mt-5">
    <h4>Intenal Server Error - Refresh to remove error</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">This error comes from the server - not Angular.</p>
        <hr>
        <p>What to do next?</p>
        <ol>
            <li>Check the network tab in Chrome dev tools</li>
            <li>Reproduce the request in Postman - if the same error occurs then this is an API issue</li>
        </ol>
        <hr>
        <h5>Stack trace</h5>
        <code class="mt-5" style="background-color: whitesmoke">{{error.details}}</code>
    </ng-container>

</div>
